Two Methods Covered:
df.fillna(), df.drop_duplicates()

In [3]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#Load the dataset from hugging face
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#clean the data for date
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [13]:
df_filled = df 

median_hour_salary = df_filled['salary_hour_avg'].median()
median_year_salary = df_filled['salary_year_avg'].median()

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_year_salary)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_hour_salary)

df_filled.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [17]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()


print(f"Original filled rows: {len(df_filled)}")
print(f"Original unique rows: {len(df_unique)}")
print(f"Total number of rows dropped: {len(df_filled) - len(df_unique)}")

Original filled rows: 785741
Original unique rows: 785640
Total number of rows dropped: 101

In [18]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates(subset=['job_title','company_name'])


print(f"Original filled rows: {len(df_filled)}")
print(f"Original unique rows: {len(df_unique)}")
print(f"Total number of rows dropped: {len(df_filled) - len(df_unique)}")

Original filled rows: 785741
Original unique rows: 508042
Total number of rows dropped: 277699